h1 {
  text-align: center;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer{
  position: fixed;
  text-align: left;
  bottom: 0px;
  width: 100%;
  background:rgba(0,0,0,0);
}

.CT:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.CT:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
