<html>
    <head>
        <title>Presidential Tweets</title>
        <link href="/static/layout.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
    </head>
    <body>
        <h1>Day {{ day }} of their presidency</h1>
        <h1>Barack Obama</h1>
        <h1>Donald Trump<h1>

        <div class="footer">
          <i class="fa fa-share" aria-hidden="true"></i>
            <a class="CT" href="http://www.connortroy.com" target="_blank">
              a CT Web App
            </a>
        </div>
    </body>
</html>
